<div class="btn-group">
    <a class="nav-link main-navigation-link"
       href="{{ url('storefront.custom.swag_shop_finder.examplepage') }}"
       itemprop="url"
       title="Our stores">
        <div class="main-navigation-link-text">
            <span itemprop="name">Our stores</span>
        </div>
    </a>
    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-expanded="false">
    </button>
    <ul class="dropdown-menu">
        {% for shop in swag_shop_finder.elements %}
            <li>

                <a  href="{{ url('storefront.custom.swag_shop_finder.examplepage')~'?shop_id='~shop.id }}">
                    {{ shop.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
